body {
    padding-top: 50px;
}

.view-main {
    padding: 30px 15px;
}

.team-list-filter {
    padding: 0 0 10px 0;
}

.team-list-table tfoot button {
    margin: 0 10px;
}

.signup-header {
	padding: 10px 0;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}