body {
    padding-top: 50px;
}

div.view-main {
    padding: 30px 15px;
}

form.team-list-filter {
    padding: 0 0 10px 0;
}

table.team-list-table tfoot button {
    margin: 0 10px;
}

div.signup-header {
	padding: 10px 0;
}