<div class="row row-header">

  <div class="col-md-5 col-md-offset-1 signup-header text-center">
    <legend>Aanmelden voetvolleybal 2015</legend>
  </div>

</div>

<form id="signup-form" role="form" class="form-horizontal signup-form">

  <div class="form-group" show-errors>
    <label for="teamname" class="col-md-1 control-label">Team</label>

    <div class="col-md-5">
      <input type="text" class="form-control" name="teamname" ng-model="team.name" placeholder="Teamnaam" ng-required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label">Spelers</label>
  </div>

  <!-- <div class="form-group" ng-repeat="player in team.players">
    <label for="player-{{ $index }}-name" class="col-md-1 control-label">{{ $index < 3 ? "*" : ""}}{{ $index+1 }}</label>
    <label class="sr-only" for="player-{{ $index }}-name">Naam</label>
    <div class="col-md-3">
      <input type="text" class="form-control" name="player-{{ $index }}-name" ng-model="player.name" placeholder="Naam" />
    </div>
    <label class="sr-only" for="player-{{ $index }}-city">Woonplaats</label>
    <div class="col-md-2">
      <input type="text" class="form-control" name="player-{{ $index }}-city" ng-model="player.city" placeholder="Woonplaats" />
    </div>
  </div> -->
  <div class="form-group" show-errors>
    <label for="player-0-name" class="col-md-1 control-label">*1</label>

    <label for="player-0-name" class="sr-only">Naam</label>
    <div class="col-md-3">
      <input name="player-0-name" ng-model="players.0.name" type="text" class="form-control" placeholder="Naam" ng-required />
    </div>

    <label for="player-0-city" class="sr-only">Woonplaats</label>
    <div class="col-md-2">
      <input name="player-0-city" ng-model="players.0.city" type="text" class="form-control" placeholder="Woonplaats" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="player-1-name" class="col-md-1 control-label">*2</label>

    <label for="player-1-name" class="sr-only">Naam</label>
    <div class="col-md-3">
      <input name="player-1-name" ng-model="players.1.name" type="text" class="form-control" placeholder="Naam" ng-required />
    </div>

    <label for="player-1-city" class="sr-only">Woonplaats</label>
    <div class="col-md-2">
      <input name="player-1-city" ng-model="players.1.city" type="text" class="form-control" placeholder="Woonplaats" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="player-2-name" class="col-md-1 control-label">*3</label>

    <label for="player-2-name" class="sr-only">Naam</label>
    <div class="col-md-3">
      <input name="player-2-name" ng-model="players.2.name" type="text" class="form-control" placeholder="Naam" ng-required />
    </div>

    <label for="player-2-city" class="sr-only">Woonplaats</label>
    <div class="col-md-2">
      <input name="player-2-city" ng-model="players.2.city" type="text" class="form-control" placeholder="Woonplaats" ng-required />
    </div>
  </div>

  <div class="form-group">
    <label for="player-3-name" class="col-md-1 control-label">4</label>

    <label for="player-3-name" class="sr-only">Naam</label>
    <div class="col-md-3">
      <input name="player-3-name" ng-model="players.3.name" ng-disabled="!players.2.name" type="text" class="form-control" placeholder="Naam" />
    </div>
    
    <label for="player-3-city" class="sr-only">Woonplaats</label>
    <div class="col-md-2">
      <input name="player-3-city" ng-model="players.3.city" ng-disabled="!players.2.name" type="text" class="form-control" placeholder="Woonplaats" />
    </div>
  </div>

  <div class="form-group">
    <label for="player-4-name" class="col-md-1 control-label">5</label>

    <label for="player-4-name" class="sr-only">Naam</label>
    <div class="col-md-3">
      <input name="player-4-name" ng-model="players.4.name" ng-disabled="!players.3.name" type="text" class="form-control" placeholder="Naam" />
    </div>
    
    <label for="player-4-city" class="sr-only">Woonplaats</label>
    <div class="col-md-2">
      <input name="player-4-city" ng-model="players.4.city" ng-disabled="!players.3.name" type="text" class="form-control" placeholder="Woonplaats" />
    </div>
  </div>

  <div class="form-group">
    <label for="player-5-name" class="col-md-1 control-label">6</label>

    <label for="player-5-name" class="sr-only">Naam</label>
    <div class="col-md-3">
      <input name="player-5-name" ng-model="players.5.name" ng-disabled="!players.4.name" type="text" class="form-control" placeholder="Naam" />
    </div>
    
    <label for="player-5-city" class="sr-only">Woonplaats</label>
    <div class="col-md-2">
      <input name="player-5-city" ng-model="players.5.city" ng-disabled="!players.4.name" type="text" class="form-control" placeholder="Woonplaats" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label">Contactpersoon</label>
  </div>

  <div class="form-group" show-errors>
    <label for="contact-firstname" class="col-md-1 control-label">Voornaam</label>
    <div class="col-md-5">
      <input type="text" class="form-control" name="contact-firstname" ng-model="team.contact.firstname" placeholder="Voornaam" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="contact-lastname" class="col-md-1 control-label">Achternaam</label>
    <div class="col-md-5">
      <input type="text" class="form-control" name="contact-lastname" ng-model="team.contact.lastname" placeholder="Achternaam" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="contact-phone" class="col-md-1 control-label">Tel. nr.</label>
    <div class="col-md-5">
      <input type="tel" class="form-control" name="contact-phone" ng-model="team.contact.phone" placeholder="Telefoonnummer" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="contact-email" class="col-md-1 control-label">E-mail</label>
    <div class="col-md-5">
      <input type="email" class="form-control" name="contact-email" ng-model="team.contact.email" placeholder="E-mail" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="contact-street" class="col-md-1 control-label">Adres</label>
    <div class="col-md-5">
      <input type="text" class="form-control" name="contact-street" ng-model="team.contact.street" placeholder="Adres" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="contact-postalcode" class="col-md-1 control-label">Postcode</label>
    <div class="col-md-5">
      <input type="text" class="form-control" name="contact-postalcode" ng-model="team.contact.postalcode" placeholder="Postcode" ng-required />
    </div>
  </div>

  <div class="form-group" show-errors>
    <label for="contact-city" class="col-md-1 control-label">Woonplaats</label>
    <div class="col-md-5">
      <input type="text" class="form-control" name="contact-city" ng-model="team.contact.city" placeholder="Woonplaats" ng-required />
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-5">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-required />
          Ik geef hierbij aan dat ik 18 jaar of ouder ben, en alle opgegeven speler 16 jaar of ouder zijn.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-5">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-required />
          Ik ga akkoord met de voorwaarden en het regelement zoals beschreven in de inschrijfprocedure.
        </label>
        <p class="help-block">Het reglement is <a href="http://voetvolley.net/docs/Reglement%20Voetvolleybaltoernooi.pdf" target="_blank">hier</a> te lezen. (opent in een nieuw venster)</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-5">
      <button type="submit" class="btn btn-primary" ng-click="signup(team)">Aanmelden</button>
      <button type="reset" class="btn btn-default">Maak leeg</button>
    </div>
  </div>

</form>
