<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      Search: <input ng-model="search">
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Contactpersoon</th>
        <th>Aangemeld op</th>
        <th>Aantal spelers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in teams | orderByPriority | filter:search">
        <td><a href="#/teams/{{reg.$id}}">{{team.name}}</a></td>
        <td>{{team.contact.firstname}} {{team.contact.lastname}}</td>
        <!-- TODO make column values clickable and switch between fixed and relative values? -->
        <td>{{team.signup | date:'dd-MM-yyyy HH:mm:ss'}} ({{ team.signup | relativeDate }})</td>
        <td>{{team.players.length}}</td>
      </tr>
    </tbody>
  </table>
</div>