<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      Search: <input ng-model="search">
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Contactpersoon</th>
        <th>Aangemeld op</th>
        <th>Aantal spelers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reg in registrations | orderByPriority | filter:search">
        <td><a href="#/teams/{{reg.$id}}">{{reg.teamname}}</a></td>
        <td>{{reg.contact.firstname}} {{reg.contact.lastname}}</td>
        <!-- TODO make column values clickable and switch between fixed and relative values? -->
        <td>{{reg.registered_on | date:'dd-MM-yyyy HH:mm:ss'}} ({{ reg.registered_on | relativeDate }})</td>
        <td>{{reg.players.length}}</td>
      </tr>
    </tbody>
  </table>
</div>