<!doctype html>
<html ng-app="afvolley">
  <head>
    <title>Voetvolleybal VV Daarlerveen</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/firebase/firebase.js'></script>
    <script src='bower_components/angularfire/angularfire.js'></script>
    <script src="js/afvolley.js"></script>
  </head>
  <body ng-controller="RegistrationController">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          Search: <input ng-model="search">
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Team</th>
            <th>Contactpersoon</th>
            <th>Aangemeld op</th>
            <th>Aantal spelers</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reg in registrations | orderByPriority | filter:search">
            <td>{{reg.teamname}}</td>
            <td>{{reg.contact.firstname}}</td>
            <td>{{reg.registered_on | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{reg.players.length}}</td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <form novalidate class="form">
        Teamnaam: <input type="text" ng-model="registration.teamname" placeholder="Teamnaam" /><br />
        <div ng-repeat="i in [0, 1, 2]">
          Speler {{i+1}}:
          <input type="text" ng-model="registration.players[i].name" />
          <input type="text" ng-model="registration.players[i].city" /><br />
        </div>
        Naam contactpersoon: <input type="text" ng-model="registration.contact.firstname" /><br />
        <button ng-click="reset()">Maak leeg</button>
        <button ng-click="register(registration)">Aanmelden</button>
      </form>
    </div>
  </body>
</html>